<html class="js-focus-visible" data-js-focus-visible="">

<head>
    <meta charset="utf-8">
    <script src="./assets/js/uninstall.js" type="module"></script>
    <link rel="stylesheet" href="./assets/css/index.css">
</head>

<body>
    <div id="app">
        <div class="main-window platform-win32 battly-1gh52kq">
            <%- include('header') %>
                <main class="installer-body battly-1gh52kq">
                    <div class="sections battly-1gh52kq" id="uninstall-battly-container">
                        <section class="page">
                            <div class="page-header battly-1ersdgs">
                                <h3 class="header battly-15y047h" id="are-u-sure-uninstall"></h3>
                            </div>
                            <article class="text-display battly-73yd18">
                                <div class="display-inner battly-73yd18" style="padding-top: 0px;" tabindex="0">
                                    <h4 style="font-weight: 400; margin-top: -20px;" id="are-u-sure-uninstall-desc">
                                    </h4>
                                </div>
                                <div class="copy-input battly-73yd18">
                                    <div style="display: flex; gap: 5px;">
                                        <button class="button type-primary battly-1cu1py8" type="button"
                                            id="cancel-uninstall-battly-btn">Cancelar</button>
                                        <button class="button type-danger battly-1cu1py8" style="opacity: 1;"
                                            type="button" id="uninstall-battly-btn">Desinstalar Battly</button>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                </main>
        </div>
    </div>
</body>

</html>